---
---

$primary_color: {{ site.styles.colors.primary }} !default;
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 8.625rem;
$spacing-4: 1rem;
$spacing-5: 1.25rem;
$spacing-6: 1.6rem;
$spacing-7: 2.3rem;
$spacing-8: 3rem;
$spacing-9: 4rem;
$spacing-10: 5rem;



@import "bulma/bulma.sass";
@import "main";