---
---

@font-face {
    font-family: 'GT Walsheim';
    src: url('/assets/fonts/GT-Walsheim-Pro-Trial-Ultra-Bold.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('/assets/fonts/GT-Walsheim-Pro-Trial-Ultra-Bold-Oblique.otf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('/assets/fonts/GT-Walsheim-Pro-Trial-Ultra-Black.otf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('/assets/fonts/GT-Walsheim-Pro-Trial-Ultra-Black-Oblique.otf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('/assets/fonts/GT-Walsheim-Pro-Trial-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('/assets/fonts/GT-Walsheim-Pro-Trial-Bold-Oblique.otf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('/assets/fonts/GT-Walsheim-Pro-Trial-Medium.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('/assets/fonts/GT-Walsheim-Pro-Trial-Medium-Oblique.otf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('/assets/fonts/GT-Walsheim-Pro-Trial-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('/assets/fonts/GT-Walsheim-Pro-Trial-Regular-Oblique.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('/assets/fonts/GT-Walsheim-Pro-Trial-Light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('/assets/fonts/GT-Walsheim-Pro-Trial-Light-Oblique.otf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('/assets/fonts/GT-Walsheim-Pro-Trial-Thin.otf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('/assets/fonts/GT-Walsheim-Pro-Trial-Thin-Oblique.otf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('/assets/fonts/GT-Walsheim-Pro-Trial-Ultra-Light.otf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('/assets/fonts/GT-Walsheim-Pro-Trial-Ultra-Light-Oblique.otf');
    font-weight: 100;
    font-style: italic;
}

$family-primary: 'GT Walsheim', -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

$primary-color: {{ site.styles.colors.primary }} !default;

$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.725rem;
$spacing-4: 1rem;
$spacing-5: 1.25rem;
$spacing-6: 1.6rem;
$spacing-7: 2.3rem;
$spacing-8: 3rem;
$spacing-9: 4rem;
$spacing-10: 5rem;

@import "bulma/bulma.sass";
@import "main";