<h1 class="title contact--title">{{ site.contact.title }}</h1>
<form id="contact-form" class="contact--form" method="POST" action="{{ site.contact.form.action }}">
  <input type="text" name="_gotcha" style="display:none" />
  {% if site.contact.form.thank_you_redirect %}
    <input type="hidden" name="_next" value="{{ site.contact.form.thank_you_redirect }}">
  {% endif %}
  <div class="field contact--form-row" data-js-validate="present">
    <input name="{{ site.contact.form.name.name }}" type="text" class="input contact--input" data-js-input="true">
    <label for="name" class="label contact--label required">{{ site.contact.form.name.label }}</label>
    <div class="contact--form-error-message hidden" data-js-warning="true">{{ site.contact.form.name.error }}</div>
  </div>

  <div class="field contact--form-row" data-js-validate="email">
    <input name="{{ site.contact.form.email.name }}" type="email" class="input contact--input" data-js-input="true">
    <label for="email" class="label contact--label required">{{ site.contact.form.email.label }}</label>
    <div class="contact--form-error-message hidden" data-js-warning="true">{{ site.contact.form.email.error }}</div>
  </div>

  <div class="field contact--form-row">
    <input name="{{ site.contact.form.phone.name }}" type="text" class="input contact--input">
    <label for="phone" class="label contact--label">{{ site.contact.form.phone.label }}</label>
  </div>

  <div class="field contact--form-row" data-js-validate="present">
    <textarea name="{{ site.contact.form.message.name }}" class="textarea contact--input" data-js-input="true"></textarea>
    <label for="{{ site.contact.form.message.name }}" class="label contact--label required">{{ site.contact.form.message.label }}</label>
    <div class="contact--form-error-message hidden" data-js-warning="true">{{ site.contact.form.message.error }}</div>
  </div>

  {{ site.contact.form.extra_input_html }}

  <div class="contact--form-row">
      <button type="submit" class="contact--submit">{{ site.contact.form.submit }}</button>
  </div>
</form>
<script>
  var contactForms = document.querySelectorAll(".contact--form");
  for ( var i = 0; i < contactForms.length; i++ ) {
    var form = contactForms[i];
    form.setAttribute("action", "{{ site.contact.form.action }}");
  }
</script>
{% if site.social %}
  <ul class="contact--social-links">
    {% for media in site.social %}
      <li class="contact--social-link-item">
        <a href="{{ media.link }}" class="contact--social-link">
          <img src={{ "/assets/img/social/" | append: media.name | append: ".svg" | downcase | relative_url }} alt="{{ media.name }}" width="60" height="60">
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
  
</ul>