<div class="contact--container modal hidden" id="contact-modal-container">
  <a 
    role="button"
    class="navbar-burger is-active contact--close"
    aria-label="close"
    data-js-modal-close="true"
  >
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  <div class="contact--background modal-background" data-js-modal-close="true"></div>
  <div class="contact--content modal-content">
    <div class="box contact">
      {% include contact_form.html %}
    </div>
  </div>
</div>