<h1 class="title contact--title">{{ site.contact.title }}</h1>
<form action="" class="contact--form">
  
  <div class="field contact--form-row">
    <input name="name" type="text" class="input contact--input">
    <label for="name" class="label contact--label required">Name</label>
  </div>

  <div class="field contact--form-row">
    <input name="email" type="email" class="input contact--input">
    <label for="email" class="label contact--label required">Email</label>
  </div>

  <div class="field contact--form-row">
    <input name="phone" type="text" class="input contact--input">
    <label for="phone" class="label contact--label">Phone Number</label>
  </div>

  <div class="field contact--form-row">
    <textarea name="message" class="textarea contact--input"></textarea>
    <label for="message" class="label contact--label">Message</label>
  </div>

  <div class="contact--form-row">
      <button type="submit" class="contact--submit">Send</button>
  </div>
</form>
