<nav class="navbar" role="navigation" aria-label="main navigation" id="main-navigation">
  <input type="checkbox" class="navbar-checkbox hidden" id="mobile-nav-checkbox" />
  <div class="navbar-brand">    
    <a href="/" class="navbar-item">
      {% if site.main_navigation.logo %}  
        <img
          class="navbar-logo"
          src="{{ site.main_navigation.logo | absolute_url }}"
        />
      {% else %}
        <span class="navbar-logo-text">
          {{ site.main_navigation.site_name }}
        </span>
      {% endif %}
    </a>
    <a role="button" class="navbar-burger main-navigation--burger" aria-label="menu" aria-expanded="false" id="mobile-nav-toggle">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="main-nav-menu">
    <div class="navbar-end">
      {% for item in site.main_navigation.items %}
        <a 
          href="{{ item.path }}"
          class="navbar-item"
          {% if item.path | slice: 0 | == "#" %}
            data-js-scroll-to-target="true"
          {% endif %}
        >
          <span class="navbar-item--text">            
            {{ item.text }}
          </span>
        </a>
      {% endfor %}
      {% if site.main_navigation.cta_text %}
        <div class="navbar-item">
          <a href="{{ site.main_navigation.cta_path }}" class="button navbar--primary-cta" data-js-scroll-to-target="true">
            {{ site.main_navigation.cta_text }}
          </a>          
        </div>
      {% endif %}
    </div>
  </div>
</nav>