<section class="section portfolio" id="portfolio">
  <h1 class="title portfolio--title section--title">
    {{ site.portfolio.title }}
  </h1>
  <div class="portfolio--projects-container">
    {% for project in site.projects %}
      <a href="{{ project.url }}" class="portfolio--project" {% if project.image %} style="background-image: url('{{ project.image }}')" {% endif %}>
        <div class="portfolio--project-content">
          <h3 class="portfolio--project-title title">
            {{ project.title }}
          </h3>
          <h5 class="portfolio--project-description">{{ project.description | truncate: 90 }}</h5>
        </div>
        <div class="portfolio--project-overlay"></div>
      </a>
    {% endfor %}      
  </div>
</section>