$input-transition: all 200ms ease-out;

.contact {
  background-color: darken($white-bis, 7%) !important;
  border-radius: 0px;
  padding: $spacing-8;
}

.contact--title {
  text-align: center;
}

.contact--form {
  .required::after {
    color: inherit;
    content: "*";
  }
}

.contact--form-row {
  padding-top: $spacing-7 - 0.3rem;
  position: relative;
}

.contact--form-error-message {
  color: darken($warning, 20%);
}

.contact--label {
  color: $grey;
  font-weight: $weight-normal;
  position: absolute;
  top: $spacing-7;
  transition: $input-transition;
  z-index: 1;

  .contact--input:focus + &,
  .contact--input.has-content + & {
    color: $black;
    font-weight: $weight-semibold;
    top: 0;
  }
}

.contact--input {
  background-color: transparent;
  border: 0;
  border-bottom: 5px solid $grey;
  border-radius: 0;
  box-shadow: none;
  color: $grey;
  padding-left: 0;
  position: relative;
  transition: $input-transition;
  z-index: 2;

  &:focus {
    color: $black;
  }

  &:hover,
  &:focus {
    border-color: $black;
    box-shadow: none;
  }

  &.is-warning {
    &:hover,
    &:focus {
      box-shadow: none;    
    }
  }
}

.contact--submit {
  border: solid 3px $grey;  
  border-radius: 0;
  background: transparent;
  color: $grey;
  padding: $spacing-3 $spacing-4;
  font-size: 1.25rem;
  font-weight: $weight-semibold;
  transition: $input-transition;

  &:hover,
  &:focus {
    border-color: $black;
    color: $black;
    cursor: pointer;
  }
}

.contact--social-links {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  margin-top: $spacing-7;
}