.hidden {
  display: none;
}


.section {
  padding-bottom: $spacing-9;
  padding-top: $spacing-9;
}

.section--title {
  font-weight: $weight-semibold;
  text-align: center;
  text-decoration: underline;
}

.home--body {
  > .section {
    &:nth-child(2n) {
      background: $background-color;
    }

    &:nth-child(2n + 1) {
      background: darken($background-color, 5%);
    }
  }
}

.home--body > .section,
.section--title {
  color: invert($background-color);
}