$drawer-timing-function: cubic-bezier(.4, 0, .2, 1);
$drawer-enter-transition: transform 250ms $drawer-timing-function;
$drawer-exit-transition: transform 200ms $drawer-timing-function;
$navbar-box-shadow: 0 8px 16px rgba($black, 0.1);
$navbar-item-padding: $spacing-2 $spacing-3;

@keyframes slidein {
  from { transform: translateY(-100%); }
  to   { transform: translateY(0); }
}

@keyframes slideout {
  from { transform: translateY(0); }
  to   { transform: translateY(-100%); }
}

.navbar {
  background: $background-color;
  position: fixed;
  top: 0;
  width: 100%;

  @media (min-width: $navbar-breakpoint) {
    background-color: transparent;
    position: absolute;

    &.fix {
      animation: slidein 150ms $drawer-timing-function;
      background-color: $background-color;
      box-shadow: $navbar-box-shadow;
      position: fixed;
      top: 0;
    }

    &.slide-out {
      animation: slideout 150ms $drawer-timing-function;
      background-color: $background-color;
      box-shadow: $navbar-box-shadow;
      position: fixed;
      top: 0;
      transform: translateY(-100%);
    }
  }
}

.navbar-brand {
  background-color: inherit;
  position: relative;
  z-index: $navbar-z;

  @media (min-width: $navbar-breakpoint) {
    background-color: initial;
    position: static;
    z-index: initial;
  }
}

.navbar-menu-container {
  background: inherit;
  position: relative;
}

.navbar-menu {
  background-color: inherit;
  box-shadow: $navbar-box-shadow;
  display: flex;
  position: absolute;
  transition: $drawer-exit-transition;
  width: 100%;
  top: 100%;
  transform: translateY(-100%);
  z-index: $navbar-z - 1;

  .navbar-checkbox:checked ~ & {
    transition: $drawer-enter-transition;
    transform: translateY(0);
  }

  @media (min-width: $navbar-breakpoint) {
    box-shadow: none;
    opacity: 1;
    position: static;
    transform: none;
    width: auto;
  }
}

.navbar-end {
  text-align: center;
  width: 100%;

  @media (min-width: $navbar-breakpoint) {
    width: initial;
  }

  .navbar-item {
    padding-left: $spacing-5;
    padding-right: $spacing-5;
  }

  .navbar-item,
  .navbar--primary-cta {
    font-size: $size-5;
    font-weight: $weight-bold;
  }
}

.navbar-burger {
  color: $text-color;
  height: auto;

  &:hover,
  &:focus {
    background-color: darken($background-color, 10%);
    color: $text-color;
  }
}

.navbar-logo-text {
  border: 2px solid $primary;
  color: $primary;
  display: inline-block;
  padding: $navbar-item-padding;

  .navbar-item:hover > &,
  .navbar-item:focus > & {
    border-color: darken($primary, 10%);
    color: darken($primary, 10%);
  }
}

a.navbar-item {
  &:hover,
  &:focus {
    background-color: inherit;
  }
}

.navbar-item--text {
  color: $text-color;
  position: relative;

  &::after {
    background: $text-color;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 0%;
    transition: width 150ms $drawer-timing-function;
  }

  .navbar-item:hover &,
  .navbar-item:focus & {
    color: $text-color;

    &::after {
      width: 100%;
    }
  }

  @media (min-width: $navbar-breakpoint) {
    color: $white;

    &::after {
      background: $white;
    }

    .navbar-item:hover &,
    .navbar-item:focus & {
      color: $white;
    }

    .navbar.fix & {
      color: $text-color;

      &::after {
        background: $text-color;
      }

      .navbar-item:hover &,
      .navbar-item:focus & {
        color: $text-color;
      }      
    }

    .navbar-item.underline & {
      &::after {
        width: 100%;
      }      
    }
  }
}

.navbar--primary-cta {
  background: transparent;
  border: 2px solid $text-color;
  border-radius: 0;
  color: $text-color;
  font-weight: $weight-semibold;
  transition: all 150ms $drawer-timing-function;

  &:hover,
  &:focus {
    background: $primary;
    border-color: $primary;
    color: $white;
  }

  @media (min-width: $navbar-breakpoint) {
    border-color: $white;
    color: $white;

    .navbar.fix & {
      border-color: $text-color;
      color: $text-color;

      &:hover,
      &:focus {
        background: $primary;
        border-color: $primary;
        color: $white;
      }
    }
  }
}