$drawer-timing-function: cubic-bezier(.4, 0, .2, 1);
$drawer-enter-transition: transform 250ms $drawer-timing-function;
$drawer-exit-transition: 
  transform 200ms $drawer-timing-function,
  opacity 0s 200ms;
$navbar-box-shadow: 0 8px 16px rgba($black, 0.1);
$navbar-item-padding: $spacing-2 $spacing-3;

.navbar {
  position: relative;

  @media (min-width: $navbar-breakpoint) {
    box-shadow: $navbar-box-shadow;
  }
}

.navbar-brand {
  background-color: inherit;
  position: relative;
  z-index: $navbar-z;

  @media (min-width: $navbar-breakpoint) {
    background-color: initial;
    position: static;
    z-index: initial;
  }
}

.navbar-menu {
  bottom: calc(100% - 52px);
  box-shadow: $navbar-box-shadow;
  display: flex;
  opacity: 0;
  position: fixed;
  transition: $drawer-exit-transition;
  width: 100%;
  z-index: $navbar-z - 1;

  .navbar-checkbox:checked ~ & {
    opacity: 1;
    transition: $drawer-enter-transition;
    transform: translateY(100%);
  }

  @media (min-width: $navbar-breakpoint) {
    box-shadow: none;
    opacity: 1;
    position: static;
    transform: none;
    width: auto;
  }
}

.navbar-end {
  text-align: center;
  width: 100%;

  @media (min-width: $navbar-breakpoint) {
    width: initial;
  }
}

.navbar-burger {
  height: auto;
}

.navbar-logo-text {
  border: 2px solid $primary;
  color: $primary;
  display: inline-block;
  padding: $navbar-item-padding;

  .navbar-item:hover > &,
  .navbar-item:focus > & {
    border-color: darken($primary, 10%);
    color: darken($primary, 10%);
  }
}

a.navbar-item {
  &:hover,
  &:focus {
    background-color: $white;
  }
}

.navbar-item--text {
  color: $black;
  font-weight: $weight-semibold;
  position: relative;

  &::after {
    background: $black;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 0%;
    transition: width 150ms $drawer-timing-function;
  }

  .navbar-item:hover &,
  .navbar-item:focus & {
    color: $black;

    &::after {
      width: 100%;
    }
  }
}