@import "fonts";

/*********************

  INDEX

    1. Font Styles
    2. Spacing
    3. Colors
    4. Bulma Replacements

*********************/


/*********************
1. Font Styles
*********************/

$weight-ultrabold: 900;
$weight-black: 800;
$weight-bold: 700;
$weight-semibold: 600;
$weight-medium: 500;
$weight-normal: 400;
$weight-light: 300;
$weight-thin: 200;
$weight-ultralight: 100;

$family-primary: 'GT Walsheim', -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;


/*********************
2. Spacing
*********************/

$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.725rem;
$spacing-4: 1rem;
$spacing-5: 1.25rem;
$spacing-6: 1.6rem;
$spacing-7: 2.3rem;
$spacing-8: 3rem;
$spacing-9: 4rem;
$spacing-10: 5rem;

/*********************
3. Colors
*********************/

$primary-color: hsl(171, 100%, 41%) !default;
$secondary-color: hsl(204, 86%,  53%) !default;
$warning-color: hsl(48,  100%, 67%) !default;
$background-color: hsl(0, 100%, 100%) !default;

/*********************
4. Bulma Replacements
*********************/

$primary: $primary-color;
$info: $secondary-color;
$warning: $warning-color;
$background: $background-color;