---
---

$primary-color: hsl(171, 100%, 41%);
$secondary-color: hsl(204, 86%,  53%);
$success-color: hsl(141, 71%,  48%);
$warning-color: hsl(48,  100%, 67%);
$background-color: hsl(0, 0%, 96%);

@import "fonts";
@import "ophelia";